<div class="card">
	<div class="card-header text-center">
		<h2>Criar Comandos</h2>
	</div>

	<div class="card-body">
		<form action="/admin/commands/save" method="POST">
			<input name="title" type="text" class="mt-4 form-control" placeholder="Título do Comando">
			<textarea id="body" name="body" placeholder="Digite o Comando" name="body"
				class="form-control mt-4"></textarea>

			<button class="btn btn-success mt-4 btn-block" type="submit">Enviar</button>
		</form>
	</div>
</div>

<script src="/tinymce/tinymce.min.js"></script>
<script>
	tinymce.init({
		language: 'pt_BR',
		selector: '#body',
		plugins: [
			'advlist autolink link image lists print preview hr searchreplace wordcount fullscreen insertdatetime media save table paste emoticons'
		]
	})
</script>