<div class="form-control btn btn-outline-info text-center">Comandos</div>

<div class="card mt-4">
    <div class="card-header">
        <h5>{{{commands.title}}}</h5>
    </div>
    <div class="card-body">
        <h5>{{{commands.body}}}</h5>
    </div>
    <div class="card-footer text-center btn-group ">
        <a href="/admin/commands/index" class="btn btn-info ">Voltar</a>

        <a class="btn btn-danger ">Excluir</a>
        <a class="btn btn-success ">Salvar</a>
    </div>
</div>
