<div class="container">
	<div class="btn btn-info text-center w-100">Comandos <img id="icon" src="/img/cmd.svg"></div>
	{{# each commands}}
	<div class="card mt-2">
		<div class="card-header row">
			<a href="/admin/commands/list/{{id}}" class="btn btn-success btn-lg "><img src="/img/book.svg" id="icon"> Ler</a>
			<div  class="text-center w-75 mr"><strong>{{{title}}} </strong></div>	
			</div>
	</div>
	{{else}}
	{{/each}}
</div>