
<a class="btn btn-info btn-block" href="/admin/commands/list" >Voltar</a>

<p class="bg-light text-center mt-4 bold"><strong>{{{commands.title}}}</strong></p>
<div class="bg-light">{{{commands.body}}}</div>