<div class="container ">
	<div class="card">
	<a class="btn btn-info btn-block" href="/admin/commands/list" >Voltar</a>
	<card class="header bg-dark text">
		<p class=" text-center mt-4 bold  "><strong>{{{commands.title}}}</strong></p>	
		<hr>
	</card>
	<div class="card-body">
		<div class="mt-2"><div class="ml-2">{{{commands.body}}}</div></div>	
	</div>	
	</div>
</div>