a

{{#if success_msg}}
<div class="alert alert-success">{{success_msg}}</div>
<p>{{success_msg}}</p>
<p>Deu Boa !!</p>
{{/if}}

{{#if error_msg}}
<div class="alert alert-danger">{{error_msg}}</div>
{{/if}}