
    <ul class="nav bg-dark text-danger">
    <li class="nav-item">
        
    </li>
    <li class="navbar-brand">
        <a class="nav-link" href="/">Casa</a>
    </li>
    <li class="nav-item dropdown">
        <a class="text-light bg-light nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><img src="/img/scale.png" id="icon"></a>
        <div class="dropdown-menu">
        <a class="dropdown-item " href="/bal">Limpar Balança</a>
        <a class="dropdown-item" href="/bal/report">Relatorio</a>
        <a class="dropdown-item" href="#">Something else here</a>
        </div>

    </li>
    <li class="navbar-brand">
        <a class="nav-link" href="/admin/commands/create">Criar Comando</a>
    </li>
    <li class="navbar-brand">
        <a class="nav-link" href="/admin/commands/index">Deletar/Editar Comandos</a>
    </li>
       <li class="navbar-brand">
        <a class="nav-link" href="/admin/commands/list">Lista de Comando</a>
    </li>
        <li class="navbar-brand">
        <a class="nav-link" href="/protocols/create">Registrar na Ata</a>
    </li>
    
        <li class="navbar-brand">
        <a class="nav-link" href="/protocols/list">Editar/ Excluir Itens da Ata</a>
    </li>
        
        
    
    
    </ul>
