
    <ul class="nav bg-dark text-danger">
    <li class="nav-item">
        <a class="navbar-brand text-light" href="/">    Home</a>
    </li>
    <li class="navbar-brand">
        <a class="nav-link" href="#"></a>
    </li>
    <li class="nav-item dropdown">
        <a class="text-light nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">BALANÇA</a>
        <div class="dropdown-menu">
        <a class="dropdown-item " href="/bal">Limpar Balança</a>
        <a class="dropdown-item" href="/bal/report">Relatorio</a>
        <a class="dropdown-item" href="#">Something else here</a>
        </div>
    </li>
    </ul>
