<table>

  <thead>
    <tr>
      <th>Data</th>
      <th>Usúario</th>
      <th colspan="11">Balanças</th>
    </tr>
  </thead>
  

  <tbody>
    
    <tr>
      <td scope="col">
        data
      </td>
      <td scope="col">uder</td>
      <td scope="col" >Bal11</td>
      <td scope="col" >Bal12</td>
      <td scope="col" >Bal13</td>
      <td scope="col" >Bal10</td>
      <td scope="col" >Bal14</td>
      <td scope="col" >Bal15</td>
      <td scope="col" >Bal16</td>
      <td scope="col" >Bal17</td>
      <td scope="col" >Bal18</td>
      <td scope="col" >Bal19</td>
      <td scope="col" >Bal20</td>
    </tr>
    <tr>
      <td scope="col">
        data
      </td>
      <td scope="col">uder</td>
      <td scope="col" >Bal11</td>
      <td scope="col" >Bal12</td>
      <td scope="col" >Bal13</td>
      <td scope="col" >Bal10</td>
      <td scope="col" >Bal14</td>
      <td scope="col" >Bal15</td>
      <td scope="col" >Bal16</td>
      <td scope="col" >Bal17</td>
      <td scope="col" >Bal18</td>
      <td scope="col" >Bal19</td>
      <td scope="col" >Bal20</td>
    </tr>
  </tbody>

</table>
<style>
table {
  width:100% !important;
  text-align: center;
  border: solid 2px black;
}
td{  
  border: solid 2px black;
  height:40px;
}

</style>
  