
<table class="table table-dark table-bordered ">
  <thead class="text-center">
    <tr>
      <th colspan="11">Aferição de Balanças </th>
    </tr>
  </thead>
  <tbody class="text-center">
    <tr > 
        <th scope="col">Anderson</th>
      <td>
              Bal 10
              <input type='checkbox' class="form-control">
      </td>
        <td>
              Bal 11
              <input type='checkbox' class="form-control">
      </td>
       <td>
              Bal 12
              <input type='checkbox' class="form-control">
      </td>
       <td>
              Bal 13
              <input type='checkbox' class="form-control">
      </td>
       <td>
              Bal 14
              <input type='checkbox' class="form-control">
      </td>
      <td>
              Bal 15
              <input type='checkbox' class="form-control">
      </td>
        <td>
              Bal 16
              <input type='checkbox' class="form-control">
      </td>
       <td>
              Bal 17
              <input type='checkbox' class="form-control">
      </td>
       <td>
              Bal 18
              <input type='checkbox' class="form-control">
      </td>
       <td>
              Bal 19
              <input type='checkbox' class="form-control">
      </td>
       <td>
              Bal 20
              <input type='checkbox' class="form-control">
      </td>
    </tr>
    <tr>
      <th scope="col">Daniel</th>
      <td>
              Bal 10
              <input type='checkbox' class="form-control">
      </td>
        <td>
              Bal 11
              <input type='checkbox' class="form-control">
      </td>
       <td>
              Bal 12
              <input type='checkbox' class="form-control">
      </td>
       <td>
              Bal 13
              <input type='checkbox' class="form-control">
      </td>
       <td>
              Bal 14
              <input type='checkbox' class="form-control">
      </td>
      <td>
              Bal 15
              <input type='checkbox' class="form-control">
      </td>
        <td>
              Bal 16
              <input type='checkbox' class="form-control">
      </td>
       <td>
              Bal 17
              <input type='checkbox' class="form-control">
      </td>
       <td>
              Bal 18
              <input type='checkbox' class="form-control">
      </td>
       <td>
              Bal 19
              <input type='checkbox' class="form-control">
      </td>
       <td>
              Bal 20
              <input type='checkbox' class="form-control">
      </td>
    </tr>
     <tr>
      <th scope="col">Johnny</th>
      <td>
              Bal 10
              <input type='checkbox' class="form-control">
      </td>
        <td>
              Bal 11
              <input type='checkbox' class="form-control">
      </td>
       <td>
              Bal 12
              <input type='checkbox' class="form-control">
      </td>
       <td>
              Bal 13
              <input type='checkbox' class="form-control">
      </td>
       <td>
              Bal 14
              <input type='checkbox' class="form-control">
      </td>
      <td>
              Bal 15
              <input type='checkbox' class="form-control">
      </td>
        <td>
              Bal 16
              <input type='checkbox' class="form-control">
      </td>
       <td>
              Bal 17
              <input type='checkbox' class="form-control">
      </td>
       <td>
              Bal 18
              <input type='checkbox' class="form-control">
      </td>
       <td>
              Bal 19
              <input type='checkbox' class="form-control">
      </td>
       <td>
              Bal 20
              <input type='checkbox' class="form-control">
      </td>
    </tr>
     <tr>
      <th scope="col">Maurício</th>
      <td>
              Bal 10
              <input type='checkbox' class="form-control">
      </td>
        <td>
              Bal 11
              <input type='checkbox' class="form-control">
      </td>
       <td>
              Bal 12
              <input type='checkbox' class="form-control">
      </td>
       <td>
              Bal 13
              <input type='checkbox' class="form-control">
      </td>
       <td>
              Bal 14
              <input type='checkbox' class="form-control">
      </td>
      <td>
              Bal 15
              <input type='checkbox' class="form-control">
      </td>
        <td>
              Bal 16
              <input type='checkbox' class="form-control">
      </td>
       <td>
              Bal 17
              <input type='checkbox' class="form-control">
      </td>
       <td>
              Bal 18
              <input type='checkbox' class="form-control">
      </td>
       <td>
              Bal 19
              <input type='checkbox' class="form-control">
      </td>
       <td>
              Bal 20
              <input type='checkbox' class="form-control">
      </td>
    </tr>
     <tr>
      <th scope="col">Ricardo</th>
      <td>
              Bal 10
              <input type='checkbox' class="form-control">
      </td>
        <td>
              Bal 11
              <input type='checkbox' class="form-control">
      </td>
       <td>
              Bal 12
              <input type='checkbox' class="form-control">
      </td>
       <td>
              Bal 13
              <input type='checkbox' class="form-control">
      </td>
       <td>
              Bal 14
              <input type='checkbox' class="form-control">
      </td>
      <td>
              Bal 15
              <input type='checkbox' class="form-control">
      </td>
        <td>
              Bal 16
              <input type='checkbox' class="form-control">
      </td>
       <td>
              Bal 17
              <input type='checkbox' class="form-control">
      </td>
       <td>
              Bal 18
              <input type='checkbox' class="form-control">
      </td>
       <td>
              Bal 19
              <input type='checkbox' class="form-control">
      </td>
       <td>
              Bal 20
              <input type='checkbox' class="form-control">
      </td>
    </tr>
    <tr>
    <th colspan="12" >
        <select class="form-control text-center">
            <option type="hidden" value="manha">Manhã</option>
            <option value="manha">Tarde</option>
        </select>
        <button class="btn btn-success btn-block">Salvar</button>
    </th>
    </tr>
  </tbody>
</table>