{{#each error}}
<div class="alert alert-danger text-center">{{message}}</div>
{{else}}

{{/each}}
<form action="/bal/create" method="POST">
        <table class="table table-dark table-bordered table-striped ">
                <thead class="text-center">
                        <tr>
                                <th colspan="12">Aferição de Balanças </th>
                        </tr>
                </thead>
                <tbody class="text-center">
                        <tr>
                                <th scope="col">
                                        <input class="form-control" type="date" name="date" required>
                                        <select class="custom-select mt-4" name="users">
                                                <option selected value="0">Selecione um Operador</option>
                                                <option value="Anderson">Anderson</option>
                                                <option value="Daniel">Daniel</option>
                                                <option value="Johnny">Johnny</option>
                                                <option value="Maurício">Maurício</option>
                                                <option value="Ricardo">Ricardo</option>
                                        </select>
                                        <select class="custom-select mt-4" name="period">
                                                <option selected value="0">Selecione um Turno</option>
                                                <option value="manha">Manhã</option>
                                                <option value="tarde">Tarde</option>
                                        </select>
                                       
                                </th>
                                <td>
                                        <div class="mt-5">Bal10</div>
                                        <input name="bal10" type='checkbox' class="form-control">
                                </td>
                                <td>
                                        <div class="mt-5">Bal11 </div>
                                        <input name="bal11" type='checkbox' class="form-control">
                                </td>
                                <td>
                                        <div class="mt-5">
                                                Bal12
                                        </div>
                                        <input name="bal12" type='checkbox' class="form-control">
                                </td>
                                <td>
                                        <div class="mt-5">
                                                Bal13
                                        </div>
                                        <input name="bal13" type='checkbox' class="form-control">
                                </td>
                                <td>
                                        <div class="mt-5">Bal14</div>
                                        <input name="bal14" type='checkbox' class="form-control">
                                </td>
                                <td>
                                        <div class="mt-5">
                                                Bal15
                                        </div>
                                        <input name="bal15" type='checkbox' class="form-control">
                                </td>
                                <td>
                                        <div class="mt-5">
                                                Bal16
                                        </div>
                                        <input name="bal16" type='checkbox' class="form-control">
                                </td>
                                <td>
                                        <div class="mt-5">
                                                Bal17
                                        </div>
                                        <input name="bal17" type='checkbox' class="form-control">
                                </td>
                                <td>
                                        <div class="mt-5">
                                                Bal18
                                        </div>
                                        <input name="bal18" type='checkbox' class="form-control">
                                </td>
                                <td>
                                        <div class="mt-5">
                                                Bal19
                                        </div>
                                        <input name="bal19" type='checkbox' class="form-control">
                                </td>
                                <td>
                                        <div class="mt-5">
                                                Bal20
                                        </div>
                                        <input name="bal20" type='checkbox' class="form-control">
                                </td>
                        </tr>
                        <tr>
                                <th colspan="12">
                                        <a href="/" class="btn btn-info btn-lg col-sm-3">Voltar</a>
                                        
                                        <button type="submit" class="btn btn-success  btn-lg col-sm-3">Salvar</button>

                                </th>
                        </tr>
                </tbody>
        </table>
</form>

<script>
        function day(val) {
                var day = document.getElementById('day');
                console.log(val);
        }
</script>