<div class="card">
	<div class="card-header">
		<h2>CPD</h2>
	</div>
	<div class="card-body">
		<h2>cHAPECO</h2>
	</div>
	<div class="card-footer">
		QUERO VER
		<button class="btn btn-success">ok</button>
	</div>
</div>