

<div class="container">
	<div class="row">
	<div class="card col mr-2">
		<div class="card-header">
			Status Balança {{formattedDate}}
		</div>
		<div class="card-body">
			<table class="table">
  <thead>
    <tr>
      <th scope="col">Manhã</th>
      <th scope="col">Tarde</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
		  {{#if statusBalM}}
		  <span class="badge badge-pill badge-success">Manhã OK</span>
		  {{else}}
		  <span class="badge badge-pill badge-danger">Falta Fazer Manhã</span>
		  {{/if}}
	  </td>
      <td>
		  {{#if statusBalA}}
		  <span class="badge badge-pill badge-success">Tarde OK</span>
		  {{else}}
		  <span class="badge badge-pill badge-danger">Falta Fazer Aferição da Tarde/Noite</span>
		  {{/if}}
	  </td>
	</tr>
	</tbody>
	</table>
		</div>
	</div>
	
</div>
</div>