<div class="profile-card">
	<div class="top-section ml-2 text-center">
		<div class="pic">
			<img src="/img/scale.png" alt="">
		</div>
		<div class="name">Aferição de Balança Dia:{{formattedDate}}</div>
		<div>
			{{#if statusBalM}}
			<div class="alert alert-success">Manhã OK</div>
			{{else}}
			<div class="alert alert-danger">Falta Fazer Manhã</div>
			{{/if}}
		</div>
		<div>
			{{#if statusBalA}}
			<div class="alert alert-success">Tarde OK</div>
			{{else}}
			<div class="alert alert-danger">Falta Fazer <br> Aferição da Tarde/Noite</div>
			{{/if}}

		</div>


	</div>
	<div class="top-section w-100 mr-2">
		<p class="name text-center">Ata ONLINE {{formattedDate}}</p>
		<div class="bottom-section">
			<div class="card">
				<div class="card-header">
					Data da Publicação <br>
					User
				</div>
				<div class="card-body">
					Asunto
				</div>
			</div>
		</div>
	</div>
</div>