<div class="container">
    <br>
    <br>    
    <div class="card mt-5">
        <div class="card-body">
            <h2 class="text-center">Login</h2>
            <form action="/login/save" method="POST">
            <input class="form-control mt-5"  type="text" placeholder="Login" name="login">
            <input class="form-control mt-5" type="password" placeholder="Senha" name="password">
            <button  class=" w-25 btn btn-primary mt-5" type="submit">Entrar</button>
            </form>
        </div>
    </div>
</div>